.d3-tip {
   font-size: 11px;
}

.cell-selected {
   border: 1px solid Coral;
}

.matrix-cell-selected {
   fill: LightGreen;
   stroke: DarkGray;
}

.matrix-cell-unselected {
   fill: White;
   stroke: DarkGray;
}

.matrix-cell-text {
   fill: Black;
}
