.ipynb_checkpoints/
.psc*/
.psc-ide-port
.spago
build/
dist/
output/
output-es/
artifact/*.tar.gz
# Staging output of script/stage-website.sh, which copies ../website/article here for npm packaging.
website/
