.d3-tip {
   font-size: 11px;
}

.cell {
   border-radius: 2px;
}

.cell.selected {
   border: 1px solid teal;
   background-color: #93E9BE;
}

.cell.selected-transient {
   border: 1px solid rgb(201, 221, 221);
   background-color: #ffffff;
}

.cell.selected-secondary {
   border: 1px solid rgb(156, 156, 156);
   background-color: rgb(226, 226, 226);
}

.cell.selected-secondary-transient {
   border: 1px solid rgb(216, 211, 211);
   background-color: #ffffff;
}

.cell.unselected {
   border: 1px solid #ffffff;
   background-color: #ffffff;
}

.matrix-cell {
   fill: White;
   stroke: DarkGray;
}

.matrix-cell.selected {
   fill: LightGreen;
   stroke: DarkGray;
}

.matrix-cell.selected-secondary {
   fill: rgb(226, 226, 226);
   stroke: DarkGray;
}

.matrix-cell-text {
   fill: Black;
   font-size: 10pt;
   font-family: "Roboto", sans-serif;
}

.scatterplot-point-selected {
   fill: LightGreen;
   stroke: teal;
}

.scatterplot-point-unselected {
   fill: white;
   stroke: black;
}

.title-text {
   fill: Black;
   font-size: 9pt;
   font-family: "Roboto", sans-serif;
}
