table {
   border-collapse: collapse;
   border-spacing: 0px;
}

thead {
   border-top: 0.5px solid lightgray;
}

.legend-box {
   stroke: lightgray;
   stroke-width: 0.5px;
   fill: none;
}

.title-text {
   fill: Black;
   font-size: 9pt;
   font-family: "Roboto", sans-serif;
}

.table-row {
   display: table-row;
}

.table-cell {
   border-radius: 2px;
   background-color: White;
   border-left: 2px solid white;
}

.table-cell.selected-primary-persistent {
   background-color: #93E9BE;
}

.table-cell.selected-primary-transient {
   border-left: 2px solid blue;
}

.table-cell.selected-secondary-persistent {
   background-color: rgb(226, 226, 226);
}

.table-cell.selected-secondary-transient {
   border-left: 2px solid lightblue;
}

.table-row.hidden {
   visibility: collapse;
}

.matrix-cell {
   stroke: DarkGray;
   fill: White;
/* filter: drop-shadow( -1px -1px 1px rgba(0, 0, 0, .5)); */
}

.matrix-cell.selected-primary-persistent {
/*   fill: rgb(225,225,225); */
   fill: LightGreen;
}

.matrix-cell.selected-secondary-persistent {
/*   fill: rgb(245, 245, 245); */
   fill: rgb(214, 240, 214)
}

.matrix-cell.selected-primary-transient {
}

.matrix-cell.selected-secondary-transient {
}

.matrix-cell-text {
   font-size: 10pt;
   font-family: "Roboto", sans-serif;
   color: rgb(205, 205, 205)
}

.matrix-cell-text.selected-primary-transient {
   font-weight: 400;
   color: blue
}

.matrix-cell-text.selected-secondary-transient {
   color: blue
}

.matrix-cell-text.selected-primary-persistent {
}

.matrix-cell-text.selected-secondary-persistent {
}

.scatterplot-point {
   fill: white;
   stroke: black;
   r: 2;
}

.scatterplot-point.selected-primary-persistent {
   fill: LightGreen;
   stroke: teal;
}

.scatterplot-point.selected-primary-transient {
   stroke: blue;
   stroke-width: 1;
   r: 3.2;
}

.scatterplot-point.selected-secondary-persistent {
   fill: rgb(226, 226, 226);
}

.scatterplot-point.selected-secondary-transient {
   stroke-width: 1;
   r: 2.5;
}
