.stipple {
   width: 200px;
   height: 200px;
   background-image: radial-gradient(black 1px, transparent 1px);
   background-size: 10px 10px;
}

table {
   border-collapse: collapse;
   border-spacing: 0px;
}

.title-text {
   fill: Black;
   font-size: 9pt;
   font-family: "Roboto", sans-serif;
}

.table-row {
   display: table-row;
   border: 1px solid White; /* then can be overridden by cell */
}

.table-cell {
   border-radius: 2px;
   background-color: White;
}

.table-cell.selected {
   border: 1px solid teal;
   background-color: #93E9BE;
}

.table-cell.selected-transient {
   border: 1px solid rgb(201, 221, 221);
   background-color: White;
}

.table-cell.selected-secondary {
   border: 1px solid rgb(156, 156, 156);
   background-color: rgb(226, 226, 226);
}

.table-cell.selected-secondary-transient {
   border: 1px solid rgb(216, 211, 211);
   background-color: White;
}

.table-row.hidden {
   display: none;
}

.matrix-cell {
   stroke: DarkGray;
   fill: White;
}

.matrix-cell.selected {
   fill: LightGreen;
}

.matrix-cell.selected-transient {
   fill: rgb(201, 241, 221);
}

.matrix-cell.selected-secondary {
   fill: rgb(226, 226, 226);
}

.matrix-cell.selected-secondary-transient {
   fill: rgb(240, 240, 240);
}

.matrix-cell-text {
   fill: Black;
   font-size: 10pt;
   font-family: "Roboto", sans-serif;
}

.scatterplot-point {
   fill: white;
   stroke: black;
}

.scatterplot-point.selected {
   fill: LightGreen;
   stroke: teal;
}

.scatterplot-point.selected-transient {
   fill: rgb(201, 241, 221);
}

.scatterplot-point.selected-secondary {
   fill: rgb(226, 226, 226);
}

.scatterplot-point.selected-secondary-transient {
   fill: rgb(240, 240, 240);
}

.barchart-segment.selected-secondary {
   background-image: repeating-linear-gradient(45deg, #444cf7 0, #444cf7 1px, #e5e5f7 0, #e5e5f7 50%);
}
