/* @import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap'); */

@font-face {
   font-family: "inconsolata";
   font-style: normal;
   font-weight: 400;
   src: url(./inconsolata-webfont.woff) format('woff');
}

.code {
   font-family: "inconsolata";
}

.changed {
   fill: blue;
}

.unchanged {
   fill: black;
}
