@font-face {
   font-family: "inconsolata";
   font-style: normal;
   font-weight: 400;
   src: url(./inconsolata-webfont.woff) format('woff');
}

@font-face {
   font-family: "Slabo 13px";
   font-style: normal;
   font-weight: 400;
   src: url(./Slabo13px-Regular.woff) format('woff');
}

.code {
   font-family: "inconsolata";
   stroke: none;
}

.label {
   font-family: "Slabo 13px";
   stroke: none;
}

.unchanged {
   fill: black;
}

.changed {
   fill: blue;
}

.new {
   fill: limegreen;
}

.tippy-tooltip {
   font-family: "inconsolata";
}

.tippy-tooltip.light-border-theme {
   font-size: 9pt;
}

.focus {
   fill-opacity: 0.6;
}
