@font-face {
   font-family: SourceCodePro-ExtraLight;
   src: url("http://dynamicaspects.org/fonts/SourceCodePro-ExtraLight.otf") format("opentype");
}

@font-face {
   font-family: SourceCodePro-Light;
   src: url("http://dynamicaspects.org/fonts/SourceCodePro-Light.otf") format("opentype");
}

@font-face {
   font-family: SourceCodePro-Regular;
   src: url("http://dynamicaspects.org/fonts/SourceCodePro-Regular.otf") format("opentype");
}

@font-face {
   font-family: SourceCodePro-Semibold;
   src: url("http://dynamicaspects.org/fonts/SourceCodePro-Semibold.otf") format("opentype");
}

@font-face {
   font-family: SourceCodePro-Bold;
   src: url("http://dynamicaspects.org/fonts/SourceCodePro-Bold.otf") format("opentype");
}

@font-face {
   font-family: SourceCodePro-Black;
   src: url("http://dynamicaspects.org/fonts/SourceCodePro-Black.otf") format("opentype");
}

@font-face {
   font-family: Inconsolata;
   src: url("http://dynamicaspects.org/fonts/Inconsolata.otf") format("opentype");
}
